PORT=5000
CLIENT_URL=http://localhost:4200
MONGO_URI=mongodb://127.0.0.1:27017/homepro

JWT_SECRET=replace_with_a_unique_32_plus_char_secret_string_here
JWT_REFRESH_SECRET=replace_with_a_different_32_plus_char_secret_here
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d
NODE_ENV=development
